<ion-view title="Status RU" id="page100" style="background-color: rgb(51, 123, 25);">
  <ion-content padding="true" class="has-header" style="background: url(img/Papaleguas.jpg) no-repeat center;background-size:cover;">
  <form id="contact-form" class="list">
  <form name="contact-form" id="dados-form" class="list">
  	<ion-list id="dados-list">
    <div class="spacer" style="width: 290px; height: 45px;"></div>
  	<label class="item item-output">
        <span class="output-label">Refeitorio 1:</span>
        <output type="text">
    </label>
        <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 2:</span>
        <output type="text">
    </label>
        <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 3:</span>
        <output type="text">
    </label>
        <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 4:</span>
        <output type="text">
    </label>
    <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 5:</span>
        <output type="text">
    </label>
    <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 6:</span>
        <output type="text">
    </label>
    <div class="spacer" style="width: 290px; height: 40px;"></div>
  </ion-content>
</ion-view>