<ion-view title="Compra de crédito" id="page15" style="background-color: rgb(51, 123, 25);">
  <ion-content padding="true" class="has-header" style="background: url(img/Papaleguas.jpg) no-repeat center;background-size:cover;">
    <form id="login-form" class="list">
    <ion-list id="login-form">
    <div class="spacer" style="height: 70px;"></div>
    <label class="item item-input">
      <span class="input-label">Valor da compra:</span>
        <input name="matricula" placeholder="Ex: 2.50,5 e etc" type="text" id="Valor">
    </label>
    <div class="spacer" style="height: 20px;"></div>
      <a id="login-button3" class="button button-dark button-block" ng-click="compra()">Comprar</a>
      <div class="spacer" style="height: 40px;"></div>
      <!--<a ui-sref="signup" id="login-button5" class="button button-dark button-block">Cadastro</a>-->
      <!--<a ui-sref="signup()" id="login-button6" class="button button-positive button-block button-clear">Or create an account</a>-->
    </form>
  </ion-content>
</ion-view>